@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
--Grey-500: hsl(234, 12%, 34%);
--Grey-400: hsl(212, 6%, 44%);
--White: hsl(0, 0%, 100%);
--shadow: hsla(212, 86%, 64%, 0.2);
}

body, html {
    padding: 0;
    margin: 0;
}

body {
    font-family:'Poppins', sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    background-color: var(--White);
    color: var(--Grey-400);
}

main {
    width: clamp(20rem, 90%, 23.4375rem);
    margin: calc(1rem + 5vh) auto;
    padding: calc(1rem + 1%);
}



.heading {
    text-align: center;
}


.heading p:first-of-type {
    font-weight: 600;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-weight: 200;
    margin-bottom: 0;
    
}


h1, h2 {
    color: var(--Grey-500);
}

h2 {
    font-weight: 600;
}

.card {
    margin: calc(1.5rem  + 1vh) auto;
    width: calc(100% - 3rem);
    border-radius: 0.38rem;
    box-shadow: 0rem 0.8rem 1rem var(--shadow);
    padding: calc(1rem + 1%);
    position: relative;
}


.card img {
    position: absolute;
    bottom: calc(1rem + 5%);
    right: calc(1rem + 3%);
}

.card p {
    margin-bottom: calc(5rem  + 5vh);
}


.feature-cards div:first-of-type {
    border-top: 0.3125rem solid var(--Cyan);
}

.feature-cards div:nth-of-type(2) {
    border-top: 0.3125rem solid var(--Red);
}

.feature-cards div:nth-of-type(3) {
    border-top: 0.3125rem solid var(--Orange);
}

.feature-cards div:last-of-type {
    border-top: 0.3125rem solid var(--Blue);
}


/* Desktop Design Starts Here  */

  @media screen and (min-width: 40rem) {
    main {
        width: clamp(40rem, 80%, 90rem);
        display: grid;
        grid-template-columns: 1fr minmax(12.5rem, 31.25rem) 1fr;
        grid-template-areas: 
        ". heading ."
        "cards cards cards"
        ;
        padding-top: 0;
    }

    .heading {
        grid-area: heading;
        margin-bottom: calc(1.5rem  + 1vh);
    }

    .feature-cards {
        grid-area: cards;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        ". cardtwo ."
        "cardone cardtwo cardfour" 
        "cardone cardthree cardfour"
        ". cardthree ."
        ;
    }

    .card {
        margin-top: 0;
    }

    .feature-cards div:first-of-type {
        grid-area: cardone;
    }
    
    .feature-cards div:nth-of-type(2) {
        grid-area:cardtwo;
    }
    
    .feature-cards div:nth-of-type(3) {
        grid-area: cardthree;
    }
    
    .feature-cards div:last-of-type {
        grid-area: cardfour;
    }
} 

